@import "tailwindcss";

body {
  color: #E2E8F0;
}

.shadowStyle {
  box-shadow: rgba(75, 75, 75, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}

.Header {
  background: linear-gradient(
    270deg,
    #00000e,
    #00000e,
    #002939,
    #03001d,
    #00000e,
    #03001d
  );
  background-size: 500% 500%;
  animation: bg-pan-left 10s linear infinite;
}

.Proccess {
  background: linear-gradient(
    270deg,
    #00001c,
    #0e003ff5,
    #090029,
    #090029,
    #00001c
  );
  background-size: 500% 500%;
  animation: bg-pan-left 10s linear infinite;
  
}


@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


